.header {
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px 128px;
  & a {
    color: var(--color-light);
    font-weight: 300;
  }
  & a:hover {
    color: var(--color-accent);
    font-weight: 400;
  }
  /* LOGO */
  & img {
    height: 50px;
    @media (max-width: 768px) {
      display: none;
    }
  }
  /* NAVBAR */
  &__navbar {
    &-links-wrapper {
      justify-content: space-between;
      gap: 40px;
    }
    &-link {
      width: fit-content;
    }
    &-link:not(:first-child) {
      border-left: 0.5px var(--color-accent) solid;
      padding-left: 40px;
      @media (max-width: 768px) {
        border-left: 0;
        padding-left: 0;
      }
    }
  }
}
