.header {
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 128px;
  @media (max-width: 768px) {
    padding: 10px 20px;
    position: relative;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
  & a {
    color: var(--color-light);
    font-weight: 300;
  }
  & a:hover {
    color: var(--color-accent);
  }
  /* LOGO */
  &__brand-logo {
    height: 50px;
    @media (max-width: 768px) {
      display: none;
    }
  }
  /* NAVBAR */

  &__navbar {
    @media (max-width: 768px) {
      position: absolute;
      top: 80px;
      right: -20px;
      background-color: var(--color-dark);
      width: 300px;
      height: 400px;
      z-index: 100000;
      transform: translateX(100%);
      transition: transform 0.5s ease-in-out;
      &.is-open {
        @media (max-width: 768px) {
          transform: translateX(0);
          z-index: 61000;
        }
      }
    }
    &-links-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 20px;
      @media (max-width: 768px) {
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    &-link {
      width: fit-content;
      & a.active {
        color: var(--color-accent) !important;
      }
      &-mobile {
        display: none;
        @media (max-width: 768px) {
          display: block;
        }
      }
    }
    &-link:not(:first-child) {
      border-left: 0.5px var(--color-accent) solid;
      padding-left: 20px;
      @media (max-width: 768px) {
        border-left: 0;
        padding-left: 0;
      }
    }
  }
  &__burger-menu {
    display: none;
    @media (max-width: 768px) {
      height: 50px;
      display: block;
    }
  }
  &__nav-burgermenu {
    @media (max-width: 768px) {
      position: relative;
      display: flex;
      text-align: center;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}
