.useful-informations {
  &__card {
    &-item {
      padding: 20px 20px;
      color: var(--color-dark);
      background-color: var(--color-light);
      flex: 1;
      justify-content: space-between;
      gap: 30px;
      border: 0.5px solid var(--color-dark);
    }
  }
}
