@use "index";
@use "agenda";
@use "useful-info";
@use "contact";
@use "header";
@use "footer";

/* IMPORTS */
@font-face {
  font-family: "Abril";
  src: url("../fonts/Abril_Fatface/AbrilFatface-Regular.ttf");
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf");
  font-weight: 100 900;
}

/* COLORS SETUP */
:root {
  --color-dark: #2a2d34;
  --color-accent: #d4a843;
  --color-light: #f5f0e8;
  --color-primary: #6b1d3a;
  --color-success: #207008;
}

/* MIXINS */

@mixin label($label-type) {
  // depends on remaining slots
  border-radius: 4px;
  padding: 4px 10px;
  color: var(--color-light);
  font-size: 1.6rem;
  font-weight: 300;

  @if $label-type == "full" {
    background-color: var(--color-primary);
  }
}

/* OVERALL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "DM Sans";
  font-size: 62.5%;
  font-weight: 300;
}

body {
  font-size: 1.8rem;
  background-color: var(--color-light);
  @media (max-width: 768px) {
    font-size: 1.6rem;
  }
}

/* TITLE */
h1,
h2,
h3 {
  font-family: "Abril";
}
h1 {
  font-size: 6.4rem;
}
.mainTitle__header {
  background-color: var(--color-primary);
  color: var(--color-light);
}

h2 {
  font-size: 4rem;
  text-transform: uppercase;
  border-left: 5px var(--color-accent) solid;
  padding-left: 20px;
}

h3 {
  text-transform: uppercase;
  font-size: 2.6rem;
}
h4 {
  text-transform: uppercase;
  color: var(--color-accent);
  font-size: 2.4rem;
  font-weight: 200;
}

li {
  list-style-type: none;
}

section {
  padding: 80px 128px;
  @media (max-width: 768px) {
    padding: 80px 20px;
  }
}

/* LINKS */
a {
  text-decoration: none;
  color: var(--color-dark);
  text-transform: uppercase;
  font-weight: 300;
  transition: all 0.5s ease;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
}

/* HEADER X FOOTER */
header,
footer {
  background-color: var(--color-dark);
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

/* CTA BUTTON */

/* Remove text decoration from button */
a.btn-cta {
  text-decoration: none;
}

.btn-cta {
  padding: 20px 50px;
  font-size: 1.6rem;
  text-transform: uppercase;
  border: none;
  font-weight: 300;
  transition: all 0.5s ease;

  &-primary {
    background-color: var(--color-accent);
  }
  &:hover {
    background-color: var(--color-primary);
    color: var(--color-light);
    cursor: pointer;
  }
  &-secondary {
    background-color: var(--color-primary);
    color: var(--color-light);
  }
}

.upcoming-shows__label-remaining-slots {
  @include label(full);
}

/***********************/
/**** PICTURE HOVER ****/
/***********************/

.picture-hover {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.403);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  & .more-icon {
    height: 50px;
    width: 50px;
  }
}

.subtitle {
  text-transform: uppercase;
  font-weight: 300;
  font-family: 2rem;
}

/* BOOTSTRAP CLASSES */

.row {
  display: flex;
  flex-wrap: wrap; /* To get cards aligned side by side */
}

.col-md-4 {
  width: 100%;
}

@media (min-width: 768px) {
  .col-md-4 {
    width: 33.33%;
  }
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.container-fluid {
  width: 100%;
}

.gx-5 {
  --bs-gutter-x: 3rem;
}

.mb-5 {
  margin-bottom: 48px;
}

.mt-5 {
  margin-top: 48px;
}

.mb-2 {
  margin-bottom: 8px;
}

.fw-bold {
  font-weight: 700;
}
