@use "index";
@use "agenda";
@use "useful-info";
@use "contact";
@use "show-detail";
@use "header";
@use "footer";

/* IMPORTS */
@font-face {
  font-family: "Abril";
  src: url("../fonts/Abril_Fatface/AbrilFatface-Regular.ttf");
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf");
  font-weight: 100 900;
}

/* COLORS SETUP */
:root {
  --color-dark: #2a2d34;
  --color-accent: #d4a843;
  --color-light: #f5f0e8;
  --color-primary: #6b1d3a;
}

/* OVERALL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "DM Sans";
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  background-color: var(--color-light);
}

/* TITLE */
h1,
h2,
h3 {
  font-family: "Abril";
}

h4 {
  text-transform: uppercase;
  color: var(--color-accent);
  font-size: 2.4rem;
  font-weight: 300;
}

li {
  list-style-type: none;
}

/* LINKS */
a {
  text-decoration: none;
  color: var(--color-dark);
  text-transform: uppercase;
  font-weight: 300;
  transition: all 0.5s ease;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
}

/* HEADER X FOOTER */
header,
footer {
  background-color: var(--color-dark);
  display: flex;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
}
.flex-col {
  display: flex;
  flex-flow: column nowrap;
}

/* CTA BUTTON */

.btn-cta {
  padding: 20px 50px;
  font-size: 1.6rem;
  text-transform: uppercase;
  border: none;
  font-weight: 300;
  transition: all 0.5s ease;
}

.primary {
  background-color: var(--color-accent);
}
.primary:hover {
  background-color: var(--color-primary);
  color: var(--color-light);
  cursor: pointer;
}
